/* label underline focus color */
.input-field input[type=text]:focus, .input-field textarea.materialize-textarea:focus, .input-field input[type=password]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid #953516;
    box-shadow: 0 1px 0 0 #953516;
}
/* valid color 
.input-field input[type=text].valid {
border-bottom: 1px solid #ff8a65;
box-shadow: 0 1px 0 0 #ff8a65;
}*/
.input-field input[type=text].invalid, .input-field textarea.materialize-textarea.invalid, .input-field input[type=password].invalid, .input-field input[type=email].invalid {
border-bottom: 1px solid #FFDF00;
box-shadow: 0 1px 0 0 #FFDF00;
}
/* icon prefix focus color 
.input-field .prefix.active {
    color: #ff8a65;
}*/
.star-rating {
    line-height:32px;
    font-size:1.25em;
    cursor: pointer;
}
img{
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.vistPrev{
    width:18%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 360px;
}
.prof{
    box-shadow: 6px 8px 10px 3px #420202;
}
.min{
    min-height: 360px;
}
.minA{
    min-height: 360px;
}
.minI{
    min-height: 460px;
}
.divRelleno{
    height: 360px;
}
.rojoOs{
    background-color:  rgb(184, 8, 35);

}

body{
    background-color: #ff8a65;
    color:white;
    height: 100%;

}
html{
    height: 100%;
}
/**.page-wrap {
min-height: 100%;
margin-bottom: -227px; 
}
.page-wrap:after {
content: "";
display: block;
}
.site-footer, .page-wrap:after {
height: 227px; 
}**/

@media only screen and (max-width: 1000px){
    /**.page-wrap {
    min-height: 100%;
    margin-bottom: -304px; 
}
    .page-wrap:after {
    content: "";
    display: block;
}
    .site-footer, .page-wrap:after {
    height: 304px; 
}**/
    .divRelleno{
        height: 460px;
    }
    .min{
        min-height: 460px;
    }
    .minI{
        min-height: 525px;
    }
    .minA{
        min-height: 550px;
    }
    .vistPrev{
        width:18%;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 200px;
    }
}
@media only screen and (max-width: 600px){
    .vistPrev{
        width:18%;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 100px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(215, 44, 44, 0.9);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: brown; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}