<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--importando css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

        <link rel="icon" href="{% static 'img/libro.png' %}" type="image/x-icon">
        <!--importando js-->
        <script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        {% block titulo %}
        {% endblock %}

    </head>
    <body>
        <div class="page-wrap">
            <nav class="red darken-4" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="{% url 'biblioteca:inicio' %}" class="truncate brand-logo">Librosdemo</a>

                    <ul class="right hide-on-med-and-down">
                        <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicio" href="{% url 'biblioteca:inicio' %}"><i class="fa fa-home fa-fw"></i></a></li>
                        <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Biblioteca por orden alfabético" href="{% url 'biblioteca:biblioteca' %}"><i class="fa fa-book fa-fw"></i></a></li>
                        <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ajustes" href="{% url 'biblioteca:ajustes' %}"><i class="fa fa-cog fa-fw"></i></a></li>
                        <li><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Agregar libro" href="{% url 'biblioteca:nuevolibro' %}"><i class="fa fa-plus fa-fw"></i></a></li>
                    </ul>

                    <ul class="side-nav" style="left: -250px;" id="nav-mobile">
                        <li><a href="{% url 'biblioteca:inicio' %}"><i class="fa fa-home fa-fw left"></i>Inicio</a></li>
                        <li><a href="{% url 'biblioteca:biblioteca' %}"><i class="fa fa-book fa-fw left"></i>Biblioteca</a></li>
                        <li><a href="{% url 'biblioteca:ajustes' %}"><i class="fa fa-cog fa-fw left"></i>Ajustes</a></li>
                        <li><a href="{% url 'biblioteca:nuevolibro' %}"><i class="fa fa-plus fa-fw left"></i>Agregar Libro</a></li>
                    </ul>
                    <a class="waves-effect circle button-collapse" style="margin:0 0 0 -50px;" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a></div>
            </nav>
        </div>
        {% block content %}
        {% endblock %}

        <footer class="page-footer site-footer red darken-4">
            <div class="container">
                <div class="row" style="margin-bottom:0px">
                    <div class="col l6 s12">
                        <h5 class="white-text"><i class="fa fa-envelope fa-fw"></i> Contacto</h5>
                        <p class="grey-text text-lighten-4">Cualquier error que encuentre no dude en contactarme.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://www.facebook.com/FrandeMaussion"><i class="fa fa-facebook-square fa-fw"></i> Facebook</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://github.com/frandemo"><i class="fa fa-github fa-fw"></i> Github</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://plus.google.com/u/0/102919660616725270704/posts"><i class="fa fa-google-plus fa-fw"></i> Google Plus</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://twitter.com/fran_demo"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    2015
                </div>
            </div>
        </footer>
    </body>
    {% block scripts %}
    {% endblock %}
</html>